@import "tailwindcss";

.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

.background-page {
  background: url('https://images.pexels.com/photos/9786210/pexels-photo-9786210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  
}

.background-page::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent 50%, black 100%);
  z-index: 1;
  
}